html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */

*,
* ::before,
* ::after {
    box-sizing: border-box;
}
body {
    font-size: 12px;
    line-height: 1.9;
    font-family: 'Poppins', sans-serif;
    color: #637381;
}
a {
    text-decoration: none;
}

/* General */
.container {
    max-width: 1160px;
    margin: 0 auto; 
    padding: 0 32px;
}
.container-small {
    max-width: 900px;
    margin: 0 auto;
}
.flex {
    display: flex;
    Justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}
.col {
    flex: 0 1 50%;
}
.col-30 {
    width: 30%;
}

/* Padding */
.padding {
    padding: 80px 0;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 14px 44px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
}
.btn-primary {
    background-color: #FD656B;
}
.btn-secondary {
    border: 2px solid #FD656B;
    text-transform: none;
}

/* Header and Fonts */
.heading {
    color: #191D34;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.4;
}

/* Clearfix */
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

/* Color Codes */
/* #012D5B - Dark Blue */
/* #FD656B - Pink */
/* #F6F9FE - Team Bg - Light Blue */
/* #637381 - Dark Grey - P */
/* #9297A2 - Light Grey Footer */
/* #191D34 - Black - Sub-headings */
/* #FBBA43 - Stars */
/* #FBF9FF - Light Purple - Blog Aside */

/* Header - Address Bar */
.address-bar {
    color: white;
    height: 40px;
    font-size: 12px;
    background-color: #012D5B;
    padding: 10px 0;
}
.address-bar a {
    color: white;
}
.email  {
    margin-left: 44px;
}
.social-icons li {
    margin-left: 24px;
}
.email i, .address i {
    margin-right: 9px;
}
.address i {
    margin-top: -2px;
}

/* Header - Navbar */
.navbar {
   padding: 20px 0;
}
.brand-logo {
    vertical-align: middle;
}
.brand-logo img {
    width: 90%;
}
.navbar a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #012D5B
}
.navbar li {
    margin-left: 28px;
}
.contact-now a {
    color: white;
    margin-left: 32px;
    letter-spacing: 0.8px;
}

/* Hero */
.hero {
    background: url(../media/hero/h1_hero.jpg) 20px -17px/cover no-repeat;
    height: 560px;
}
.hero-subheading {
  padding-top: 140px;
}
.hero-subheading {
    color: #FD656B;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
.hero-heading {
    color: #012D5B;
    font-size: 52px;
    margin-bottom: 40px;
    width: 60%;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
}
.hero a {
    color: white;
    font-size: 12px;
    letter-spacing: 0.8px;
}

/* Team */
.team {
    background-color: #F6F9FE;
}
.col-1-3 {
    width: 32%;
    height: 330px;
}
.col-1-3 img {
    width: 100%;
}
.col-heading {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 0 0;
}
.col-1-3 p {
    padding-right: 14px;
}
.col-3-3 {
    border: 2px solid #FD656B;
    padding: 20px 10px 20px 35px;
    background-color: white;
}
.team .col-3-3 .heading {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 25px;
    line-height: 1.4;
}
.pink-divider {
    height: 3px;
    width: 35%;
    background-color: #FD656B;
    margin-bottom: 25px;
}
.col-3-3 p {
    margin-bottom: 20px;
}
.col-3-3 a {
    color: rgb(66,69,88);
    font-weight: 500;
}
.col-3-3 i {
    margin-left: 3px;
    font-size: 8px;
}

/* Trusted Team */
.trusted-team {
    margin-bottom: -7px;
}
.trusted-team .container-small {
    position: relative;
}
.col-1-2 {
    width: 60%;
}
.col-1-2 img {
    width: 100%;
}
.col-2-2 {
    background-color: rgba(255,255,255, 0.8);
    padding: 40px 60px 40px 40px;
    width: 55%;
    top: 120px;
    left: 440px;
    position: absolute;
}
.col-2-2 .heading {
    line-height: 1.2;
    margin-bottom: 45px;
}
.col-2-2 p {
    margin-bottom: 39px;
    line-height: 1.9;
}
.col-2-2 a {
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
}

/* Services */
.services .col-1-3 {
    width: 30%;
    height: 250px;
    padding: 40px 0;
    background-color: rgba(246,249,254,0.5);
}
.services .heading {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}
.col-1-3 .heading {
    font-size: 20px;
    margin-bottom: 20px;
}
.services p {
    text-align: center;
    padding: 0 30px;
}
.services i {
    width: 100%;
    font-size: 32px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.services a {
    color: #FD656B;
    font-weight: 500;
}
.services .btn-secondary {
    margin-bottom: 80px;
}
.services .align-center {
    text-align: center;
}

/* Cases */
.cases {
    background-color: #F6F9FE;
}
.completed-cases {
    padding-left: 20px;
}
.cases .heading {
    margin-bottom: 20px;
    margin-top: -60px;
}
.cases a {
    color: #FD656B;
    font-weight: 500;
}
.cases p {
    margin-bottom: 30px;
    margin-right: 30px;
}
.cases img {
    width: 52%;
    margin: 0 1%;
}

/* Testimonial */
.container-3 {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
}
.testimonial {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
.testimonials img {
    padding-bottom: 20px;
    width: 130px;
}
.stars i {
    padding: 1px;
    margin: 18px 0 12px;
    color: #FBBA43;
    font-size: 12px;
}
.client-name {
    margin-right: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.client-company {
    color: #8A8A8A;
}

/* Recent News */
.col-30 img {
    width: 100%;
}
.news .heading {
    font-size: 50px;
    margin-bottom: 80px;
    text-align: center;
    margin-top: -90px;
}
.category {
    color: #FD656B;
    padding: 10px 0 15px 0;
}
.blog-title {
    font-size: 16px;
    font-weight: 500;
    color: #191D34;
    line-height: 1.4;
    padding-right: 20px;
    padding-bottom: 5px;
}
.padding-left {
    padding-left: 20px;
}

/* Contact */
.contact {
    background-color: #012D5B; 
}
.contact .heading {
    color: white;
    margin-bottom: 20px;
    line-height: 1.3;
    font-size: 37px;
}
.contact p {
    color: white;
    padding-right: 40px;
    font-weight: 400;
    font-size: 12px;
}
.form {
    background-color: #012D5B;
    width: 100%;
}
.contact input {
    background-color: #012D5B;
    height: 47px;
    border: 1px solid white;
    margin-bottom: 20px;
}
select {
    background-color: #012D5B;
    height: 47px;
    border: 1px solid white;
    padding-right: 20px;
    appearance: none;
    background: url("../media/arrow/arrow.png");
	background-repeat:no-repeat;
	background-size:16px 17px;
	background-position: 97% 50%;
}
.name {
    width: 48%;
}
.phone {
    width: 48%;
}
#services {
    width: 63%;
    padding: 0px 20px 0 20px;
    color: white;
}
input::placeholder {
    color: white;
    padding-left: 20px;
}
.contact a {
    color: white;
    padding: 12px 68px;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 4px;
    font-weight: 300;
}
.col-call-back {
    width: 39%;
}
.col-form {
    align-self: flex-start;
    width: 58%;
    padding-top: 10px;
}


/* Footer */
.footer {
    background-color: #F8FAFE;
}
.footer-col-1 {
    width: 32%;
}
.footer-col-2 { 
    width: 80%;
}
.footer-info {
    margin-left: 40px;
    width: 40%;
}
.footer-logo {
    margin-bottom: 45px;
}
.footer p {
    margin-bottom: 45px;
}
.footer i {
    color: #012D5B; 
    font-size: 18px;
    margin-right: 16px;
}
.footer h3 {
    color: #012D5B;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer a {
    color: #9297A2;
}
.footer li {
    margin-bottom: 10px;
    color: #9297A2;
}
.footer-2 {
    border-top: 1px solid lightgrey;
}
.copyright {
    text-align: center;
    padding: 30px 0;
    margin: 0 0.5%;
    color: #9297A2;
}
.footer-2 i {
  margin: 0 2px 0 3px;
  color: #FD656B;
  font-size: 14px;
  font-weight: 300;
}
.footer-2 p {
    color: #FD656B;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: 300;
}
span {
    color: #9297A2;
}

/* About Page */
/* Hero */
.about-hero {
    background: url("../media/hero/about_hero.jpg") top/cover no-repeat, #012D5B;
    height: 250px;
}
.about-hero .heading, .services-hero .heading, .cases-hero .heading, .blog-hero .heading, .contact-hero .heading {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.about-padding {
    padding-top: 90px;
}

/* Services Page */
/* Hero */
.services-hero {
    background: url("../media/hero/services_hero.jpg") top/cover no-repeat, #012D5B;
    height: 250px;
}

/* Cases Page */
.cases-hero {
    background: url("../media/hero/cases_hero.jpg") top/cover no-repeat, #012D5B;
    height: 250px;
}
.marketing-strategy {
    background-color: #F6F9FE;
}
.marketing-strategy .container-small {
    position: relative;
    margin-bottom: 20px;
}
.marketing-strategy .text-float {
    background-color: white;
    position: absolute;
    padding: 12px 10px 10px 23px;
    bottom: 7px;
    width: 221px;
}
.marketing-strategy .heading {
    font-size: 15px;
    margin-bottom: 7px;
}
.marketing-strategy p {
    font-size: 12px;
    line-height: 1.6;
}
.marketing-strategy img {
    width: 100%;
}
.flex-wrap {
    flex-wrap: wrap;
}
.gallery-1 {
    width: 31%;
}

/* Blog Page */
/* Hero */
.blog-hero {
    background: url("../media/hero/blog_hero.jpg") top/cover no-repeat, #012D5B;
    height: 250px;
}

/* Blog List */
.blog-list {
    position: relative;
    width: 100%;
}
.date-square {
    position: relative;
    bottom: 230px;
    left: 30px;
    background-color: #FD656B;
    width: 80px;
    padding: 10px 15px 2px 15px;
    text-align: center;
    border-radius: 5px;
}
.blog .day {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}
.blog .month {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}
.blog .blog-title {
    color: #191D34;
    font-size: 20px;
    padding: 50px 0 30px 0;
    font-weight: 600;
}
.blog-summary {
    margin: 10px 50px 20px 0;
}
.blog img {
    width: 100%;
    margin-bottom: 40px;
}
.blog-categories {
    padding-bottom: 0;
}
.blog-categories a, .comments a {
    color: #9297A2;
}
.blog .fas {
    color: #9297A2;
    font-size: 12px;
    margin-right: 8px;
}
.divider {
    margin-right: 10px;
}
.blog-categories i {
    padding-top: 4px;
}
.margin-left {
    margin-left: 30px;
}
.blog-box {
    box-shadow: 2px 4px 10px lightgrey;
    margin-bottom: 50px;
    height: 500px;
    width: 100%;
}
.pages-block {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #F0E9FE;
    color: darkgrey;
    margin-right: 10px;
    font-size: 13px;
}
.box-2 {
    background: #FBF9FF;
}
.pages i {
    padding-left: 7px;
}

/* Sidebar */
.sidebar {
    margin-left: 3%;
}

/* Search Box */
.search-box {
    background-color: #FBF9FF;
    padding: 20px;
    position: relative;
    width: 288px;
}
.sidebar input {
    border: 1px solid lightgrey;
    background-color: white;
    width: 100%;
    height: 40px;
}
.sidebar input::placeholder {
    color: #9297A2;
    font-size: 12px;
    margin: 0;
    padding: 40px 10px;
}
.search-icon .fas {
  color: white;
  font-size: 12px;
  padding-left: 8px;
}
.search-icon {
    background-color: #FD656B;
    width: 38px;
    height: 39px;
    right:20px;
    margin-top: 0;
    position: absolute;
}
.sidebar .btn-secondary {
    padding: 10px 90px;
    margin-top: 15px;
}
.sidebar a {
    color: #FD656B;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border: 1px solid #FD656B;
    border-radius: 0px;
}

/* Category */
.categories {
    background-color: #FBF9FF;
    padding: 30px;
    margin-top: 20px;
    width: 288px;
}
.categories li {
    border-top: 0.5px solid lightgrey;
    padding: 10px 0;
}
.categories a {
    border: none;
    color: #637381;
    letter-spacing: 0px;
    text-transform: none;
    font-size: 12px;
}
.sidebar-heading {
    color: #191D34;
    padding: 10px 0 10px 0px;
    font-weight: 600;
    border-bottom: 0.5px solid lightgrey;
    font-size: 16px;
}
.categories li:first-child {
    padding-top: 30px;
    border: none;
}

/* Recent Posts */
.recent-posts {
    padding: 20px 30px 40px 30px;
    background-color: #FBF9FF;
    margin-top: 20px;
    width: 288px;
}
.recent-posts .sidebar-heading {
 margin-bottom: 20px; 
}
.recent-posts a {
    border: none;
    color: #191D34;
    letter-spacing: 0px;
    text-transform: none;
    font-size: 12px;
    font-weight: 700;
}
.recent-posts img {
    width: 60px;
    margin-bottom: 0;
}
.recent-posts-list {
    margin-left: 20px;
}
.recent-posts .posts {
    padding-bottom: 10px;
}
.flex-2 {
    display: flex;
    align-content: center;
}

/* Tag Clouds */
.tag-clouds {
    padding: 20px 30px 20px 30px;
    background-color: #FBF9FF;
    margin-top: 20px;
    flex: 0 1 40px;
    width: 288px;
}
.tag-clouds a {
    border: none;
    color: #9297A2;
    letter-spacing: 0px;
    text-transform: none;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 8px;
}
.tag-clouds .sidebar-heading {
    margin-bottom: 20px; 
}
.tag-clouds li {
    background-color: white;
    border: 1px solid lightgrey;
    margin: 2%;
}

/* Instagram Feed */
.instagram-feed {
    background-color: #FBF9FF;
    padding: 20px 30px;
    margin-top: 20px;
    width: 288px;
}
.instagram-feed .sidebar-heading {
    margin-bottom: 20px; 
}

.instagram-feed img {
    margin-left: 6px;
    margin-bottom: 0;
    width: 70px;
}
.instagram-feed a {
    border: none;
}

/* Newsletter */
.newsletter {
    background-color: #FBF9FF;
    padding: 20px;
    position: relative;
    width: 288px;
    margin-top: 20px;
}
.newsletter .btn-secondary {
    padding: 10px 78px;
    margin-top: 15px;
}
.newsletter .sidebar-heading {
    margin-bottom: 20px; 
}

/* Contact */
/* Hero */
.contact-hero {
    background: url("../media/hero/contact_hero.jpg") top/cover no-repeat, #012D5B;
    height: 250px;
}

/* Map */
.map img {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 50px;
}

/* Form and Contact Details */
.form-2 {
    width: 70%;
    padding-bottom: 90px;
}
.contact-details {
    width: 30%;
    align-self: flex-start;
    padding-left: 80px;
}
.get-in-touch .heading {
    font-size: 23px;
    padding-bottom: 10px;
    font-weight: 600;
}
.form-2 input::placeholder {
    color: darkgrey;
    padding-left: 20px;
    font-size: 13px;
}
.form-2 textarea {
    margin-bottom: 15px;
    border: 0.5px solid lightgrey;
    font-family: inherit;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 400;
    color: darkgrey;
    font-size: 13px;
}
.form-2 input {
    height: 45px;
    border: 0.5px solid lightgrey;
}
.form-2 .name {
    width: 50%;
    margin-bottom: 25px;
}
.form-2 .email {
    width: 50%;
    margin-bottom: 25px;
}
.subject {
    width: 100%;
    margin-bottom: 40px;
}
.form-2 a {
    color: #FD656B;
    background-color: white;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 13px 50px 13px 50px;
    border: 1px solid #FD656B;
    font-size: 13px;
}
.margin-bottom {
    margin-bottom: 35px;
}
.contact-details i {
    margin-right: 18px;
    font-size: 18px;
    color: rgb(155, 155, 155);
    padding-top: 3px;
}
.contact-details .email {
    color:black;
    margin-left: 0;
}
.bold {
    color: black;
    font-weight: 500;
}
















































































































































































'


