html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */

*,
* ::before,
* ::after {
    box-sizing: border-box;
}
body {
    font-size: 12px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    color: #637381;
}
a {
    text-decoration: none;
}

/* General */
.container {
    max-width: 1160px;
    margin: 0 auto; 
    padding: 0 32px;
}
.container-small {
    max-width: 900px;
    margin: 0 auto;
}
.flex {
    display: flex;
    Justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* For 2 column layout: */
.col {
    flex: 0 1 50%;
}
.col-left {
    padding-right: 50px;
}
.col-right {
    padding-left: 50px;
}
/* For 1 column layout with many vertical articles: */
.col-1-1 {
}
.col-1-3 {

}

.padding {
    padding: 80px 0;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 14px 38px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
}
.btn-primary {
    background-color: #FD656B;
}
.btn-secondary {
    border: 2px solid #FD656B;
    text-transform: none;
}

/* Header and Fonts */
.heading {
    color: #191D34;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.4;
}
.text {

}

/* Clearfix */
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

/* Color Codes */
/* #012D5B - Dark Blue */
/* #FD656B - Pink */
/* #F6F9FE - Team Bg - Light Blue */
/* #637381 - Dark Grey - P */
/* #9297A2 - Light Grey Footer */
/* #191D34 - Black - Sub-headings */
/* #FBBA43 - Stars */



/* HTML TIPS  
Name sections as they are: e.g. hero, blog, contact.
Apply "padding" class to each section so that they look similar
Hero is part of main tag
Can apply flex classes to other elements without using flex class
May need to use font-size 0 for the parent element if small default gap
Each section is usually 4 layers deep, for example:
<section>
    <div>
        <article>
            <div> */

/* Header - Address Bar */
.address-bar {
    color: white;
    height: 40px;
    font-size: 12px;
    background-color: #012D5B;
    padding: 10px 0;
}
.address-bar a {
    color: white;
}
.email  {
    margin-left: 44px;
}
.social-icons li {
    margin-left: 24px;
}
.email i, .address i {
    margin-right: 9px;
}
.address i {
    margin-top: -2px;
}

/* Header - Navbar */
.navbar {
   padding: 20px 0;
}
.brand-logo {
    vertical-align: middle;
}
.brand-logo img {
    width: 90%;
}
.navbar a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #012D5B
}
.navbar li {
    margin-left: 28px;
}
.contact-now a {
    color: white;
    margin-left: 32px;
    letter-spacing: 0.8px;
}

/* Hero */
.hero {
    background: url(../media/hero/h1_hero.jpg) 20px -17px/cover no-repeat;
    height: 560px;
}
.hero-subheading {
  padding-top: 140px;
}
.hero-subheading {
    color: #FD656B;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
.hero-heading {
    color: #012D5B;
    font-size: 52px;
    margin-bottom: 40px;
    width: 60%;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
}
.hero a {
    color: white;
    font-size: 12px;
    letter-spacing: 0.8px;
}

/* Team */
.team {
    background-color: #F6F9FE;
}
.col-1-3 {
    width: 32%;
    height: 330px;
}
.col-1-3 img {
    width: 100%;
}
.col-heading {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 0 0;
}
.col-1-3 p {
    padding-right: 14px;
}
.col-3-3 {
    border: 2px solid #FD656B;
    padding: 20px 10px 20px 35px;
}
.team .col-3-3 .heading {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 25px;
    line-height: 1.4;
}
.pink-divider {
    height: 3px;
    width: 35%;
    background-color: #FD656B;
    margin-bottom: 25px;
}
.col-3-3 p {
    margin-bottom: 20px;
}
.col-3-3 a {
    color: rgb(66,69,88);
    font-weight: 500;
}
.col-3-3 i {
    margin-left: 3px;
    font-size: 8px;
}

/* Trusted Team */
.trusted-team .container-small {
    position: relative;
}
.col-1-2 {
    width: 55%;
}
.col-1-2 img {
    width: 100%;
}
.col-2-2 {
    background-color: rgba(255,255,255, 0.7);
    padding: 40px;
    width: 55%;
    top: 110px;
    left: 400px;
    position: absolute;
}
.col-2-2 .heading {
    line-height: 1.2;
    margin-bottom: 25px;
}
.col-2-2 p {
    margin-bottom: 30px;
}
.col-2-2 a {
    color: white;
}

/* Services */

.services .col-1-3 {
    width: 30%;
    height: 170px;
}
.services .heading {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}
.col-1-3 .heading {
    font-size: 20px;
    margin-bottom: 20px;
}
.services p {
    text-align: center;
    padding: 0 30px;
}
.services i {
    width: 100%;
    font-size: 32px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.services a {
    color: #FD656B;
}
.services .btn-secondary {
    margin-bottom: 80px;
}
.services .align-center {
    text-align: center;
}

/* Cases */
.cases {
    background-color: #F6F9FE;
}
.col {
    flex: 0 1 50%;
}
.cases .heading {
    margin-bottom: 20px;
    margin-top: -60px;
}
.cases a {
    color: #FD656B;
}
.cases p {
    margin-bottom: 30px;
}
.cases img {
    width: 63%;
    margin: 0 1%;
}

/* Testimonial */
.container-3 {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
}
.testimonial {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
.testimonials img {
    padding-bottom: 20px;
}
.stars i {
    padding: 1px;
    margin: 18px 0 12px;
    color: #FBBA43;
    font-size: 12px;
}
.client-name {
    margin-right: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.client-company {
    color: #8A8A8A;
}